.show-tip {
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: #dedede;
    padding: 5px;
    border: 1px solid #fff;
    width: 250px;
}

.show-tip p {
    color: #000;
    background-color: #fff;
    padding: 2px 7px;
    border: 1px solid #eee;
}